<html>
<head>
	<title>Backbone</title>
	<script src="jquery-1.11.3.min.js"></script>
	<script src="underscore-min.js"></script>
	<script src="backbone-min.js"></script>
    <link rel='stylesheet' type='text/css' href='stylesheet.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body id = "contentWrapper">
	
	<div id="renderHere">
		<!-- Templates will be loaded into the renderHere div -->
	</div>



<!-- TEMPLATES -->	
	<!-- 0: Wrapper / About Menu -->
	<script type="text/template" id="wrapperTemplate">
		<div id = "title">
			<h1>Nihongo</h1>
		</div>
		<div>
			<div id = "nestedContent">
				<%= otherTemplates %>
			</div>

			<div id = "aboutBtnDiv">
				<button type = 'button' class = 'about' id = 'aboutBtn'>About</button>
			</div>

			<div id="aboutContent" class = "invisible">
				By Chris Flinchbaugh<br/>
				Created July, 2015
			</div>
		</div>
	</script> 

	<!-- 1: Mode Menu -->
	<script type="text/template" id="modeTemplate">
		<div id = "modeBtns">
			<button type = 'button' class = 'mode' id = 'Numbers'>Numbers</button>
			<button type = 'button' class = 'mode' id = 'Hiragana'>Hiragana</button>
			<button type = 'button' class = 'mode' id = 'Katakana'>Katakana</button>
			<button type = 'button' class = 'mode' id = 'Phrases'>Phrases</button>
		</div>
	</script> 

	<!-- 2: Secondary Mode -->
	<script type="text/template" id="secondaryModeTemplate">
	 	<div id = "backBtnDiv">
			<button type = 'button' class = 'backBtn' id = 'secModeBackBtn'>Back</button>
		</div>

	 	<div id = "displayMode">
	 		Mode: <br/>
	 		<%= mode %>
	 	</div>

		<div id = "secondaryModeBtns">
			<button type = 'button' class = 'secondaryMode' id = 'Image'>Image</button>
			<button type = 'button' class = 'secondaryMode' id = 'Romanji'>Romanji</button>
		</div>
	</script>

	<!-- 3: Display Card Menu -->
	<script type="text/template" id="displayCardTemplate">

		<div id = "backBtnDiv">
			<button type = 'button' class = 'backBtn' id = 'cardBackBtn'>Back</button>
		</div>

	 	<div id = "displayMode">
	 		Mode: <br/>
	 		<%= mode %> - <%= secondaryMode %>
	 	</div>

		<div id = "imageContent" >
			<img src="<%= imageContent %>" id = "imageDisplayed">
		</div>

		<div id = "bodyContent" class="invisible">
			<%= bodyContent %>
		</div>
	
		<div id = 'cardNavigation'>
			<button type = 'button' id='transButton'>Translation</button>
			<button type='button' id='nextButton'>Next</button>
		</div>
	</script>

	
	<script src="CardModel.js"></script>
	<script src="View.js"></script>
</body>
</html>