#contentWrapper{
	padding: 15px;
}

#nestedContent{
	min-height: 400px;
}

#mode, #displayMode, #modeBtns, #displaySecMode, #secondaryModeBtns, #romanjiNavigation, #bodyContent, #imageContent{
	text-align: center;
}

#displaySecMode{ 
  	padding-top: 12px;}

#secondaryModeBtns, #romanjiNavigation{
	padding-top: 15px;
}

#bodyContent{
	padding: 10px;
  	font-weight: bold;
}
			
#imageContent{  
	padding-top: 10px;
}
			
.invisible {
	opacity: 0;

	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-transition: opacity 0.25s;
}

.visible {
	opacity:1;
	
	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-transition: opacity 0.25s;
}
