#loadingDiv{
display: none;

	text-align: center;
	border: solid;
	border-radius: 13px;
	width: 125%;
	height: 5%;
	background-color: grey;
	opacity: 30;
	overflow: hidden;
	margin-left: -13%;
	padding-top: 3%;
}

#renderHere{
	display: block;
}

button {
    padding:12px;
    outline: none;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}


#wrapperTemplate{
	overflow: hidden;
}

#contentWrapper{
	padding: 15px;
}

#nestedContent{
	min-height: 60%;
	max-height: 70%;
}

#title, #mode, #displayMode, #modeBtns, #displaySecMode, #secondaryModeBtns, #cardNavigation, #bodyContent, #imageContent{
	text-align: center;
}

.mode, .secondaryMode {
	width: 80%;
	padding: 2.5%;
	margin: 5%;
}

.hide {
	display: none !important;
}
#aboutContent{
	display: block;

	position: fixed;
	width: 75%;
	margin-top: -400px;
	padding: 10px;
	border: solid;
	border-radius: 10px;
	border-color: deeppink;
	background-color: crimson;
	color: white;
	text-shadow: 2px 2px black;
	text-align: center;
}

}

#displaySecMode{ 
  	padding-top: 12px;}

#secondaryModeBtns, #cardNavigation{
	/*padding-top: 15px;*/
}

#cardNavigation{
	float: left;
	width: 100%;

}
#backBtnDiv{
	width: 20%;
	float: left;
}

.backBtn{
	padding: 10px;
	display: block;

	
}

#displayMode{
	width: 100%;
	margin-top: -4%;
  	margin-bottom: 4%;	
  	clear: left;

}

#bodyContent{
	padding: 10px;
  	font-weight: bold;
  	font-size: xx-large;
}
			
#imageContent{  
	padding-top: 10px;
	clear: left;
}	

#imageDisplayed{
	width:auto;
	height: auto;
}

#nextButton{
	width: 92px;
}
			
#secondTemplateWrapper, #displayCardWrapper{
	/*#secondTemplateWrapper{*/
	opacity: 0;
}

.invisible {
	opacity: 0;

	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-transition: opacity 0.25s;
}

.visible {
	opacity: 1 !important;
	
	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-transition: opacity 0.25s;
}



@media only screen and (max-width: 674px) {

	.mode, .secondaryMode {
		height: 13%;
		width: 85%;
		margin: 4%;
	}

	.backBtn {
		width: 80px;
		height: 50px;
	}

	#aboutBtn {
		float: left;
		margin-top: 13%;
		height: 7%;
		width: 34%;
		padding: 0px;
	}

	#imageDisplayed{
		width:auto;
	}

	#transButton, #nextButton {
		width: 50%;
  		margin-bottom: 5%;
	}

}

@media only screen and (min-width: 1125px) {

	#modeBtns{
		width: 70%;
	  	padding-left: 15%;
	}

}